<%= if @conn.assigns[:author_or_admin] || @comment.approved do %>
  <div class="comment">
    <div class="row">
      <div class="col-xs-4">
        <strong><%= @comment.author %></strong>
      </div>
      <div class="col-xs-4">
        <em><%= @comment.inserted_at %></em>
      </div>
      <div class="col-xs-4 text-right">
        <%= if @conn.assigns[:author_or_admin] do %>
          <%= unless @comment.approved do %>
<!--            <button class="btn btn-xs btn-primary approve">Approve</button>     -->

            <!-- creates a form for the update button. Sent via PUT, displays the form inline (instead of as a block),
                 and sets the 'approved' value to true via hidden input.
            -->
            <%= form_for @conn, post_comment_path(@conn, :update, @post, @comment), [method: :put, as: :comment, style: "display: inline;"], fn f -> %>
              <%= hidden_input f, :approved, value: "true" %>
              <%= submit "Approve", class: "btn btn-xs btn-primary approve" %>
            <% end %>
          <% end %>
<!--          <button class="btn btn-xs btn-danger delete">Delete</button>  -->
          <%= link "Delete",
                method: :delete,
                to: post_comment_path(@conn, :delete, @post, @comment),
                class: "btn btn-xs btn-danger delete",
                data: [confirm: "Are you sure you want to delete this comment?"]
          %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= @comment.body %>
      </div>
    </div>
  </div>
<% end %>